*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
#navbar{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#nav{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navbar > #logo{
    width: 20%;
}
#navbar >div > a img{
    width: 25%;
    border-radius: 5px;
}
#nav > a h1{
    color: rgb(49, 49, 52);
    font-size: smaller;
}
#nav > a h2{
    background-color: rgb(234, 71, 22);
    border: 1px solid;
    border-radius: 5px;
    padding: 6px;
    color: white;
    font-size: smaller;
}
#login-signup:hover{
    background-color: white;
    color: rgb(234, 71, 22);
    border: 1px solid rgb(234, 71, 22);
}
#nav > #Filter-location{
    border: none;
}
#nav > a h3{
    color: rgb(96, 96, 95);
    margin-left: -130px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
}
#nav > a h3:hover{
    color: rgb(143, 212, 246);
    font-size: 13px;
}
#search{
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid;
    padding: 8px;
    padding-right: 210px;
}
#nav > a >#cart-logo{
    width: 45%;
}
#nav #cart-flex{
    width: 60px;
    display: flex;
    justify-content: space-around;
}.container {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
.container > div{
    width: 105%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container > div > img{
    width: 100%;
}
.container button:nth-child(4){
    color: rgb(241, 246, 246);
    background-color: rgb(242, 54, 21);
    padding: 3px;
    border: 1px solid red;
    border-radius: 5px;
    margin-left: -7px;
    /* margin: auto; */
}
.container button:nth-child(5){
    color: rgb(241, 24, 8);
    background-color: hwb(0 99% 1%);
    padding: 4px;
    margin-left:2px;
    position: absolute;
    border-radius: 5px;
    border: 1px solid red;
}
.container button:nth-child(4):hover{
    color: rgb(248, 15, 15);
    background-color: rgb(252, 230, 230);
    border: 1px solid red;
    transition: .5s;
}


.container button:nth-child(5):hover{
    color: rgb(249, 241, 240);
    transition: .5s;
    background-color: rgba(255, 5, 5, 0.964);
}
#heading-wishlist{
    color: rgba(165, 42, 42, 0.656);
    margin-left: 150px;
    margin-top: 50px;
    font-size: xx-large;
}
a{
    text-decoration:none;
    
 }
 @media only screen and (min-width: 426px) and (max-width: 768px){

 }